.col-8{
    text-align: center;
}
.header{
    border: 1px solid rgb(201, 198, 198);
    padding: 10px;

}
h5{
    font-size: 40px;
    color: #F48999;
    font-style: italic;
    font-family: -webkit-body;
    margin-left: 23%;

}
h6{
    margin-left: 117%;
    font-family: monospace;
    cursor: pointer;
}
h6:hover{
    color: #F48999;
    font-weight: 800;
}
