<div class="row">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a class="nav-link" (click)="goTo('/main/categories')">КАТЕГОРИИ</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goTo('/main/products')">ПРОДУКТИ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goTo('/main/banners')">БАНЕРИ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goTo('/main/setting')">ПОДЕСУВАЊЕ</a>
    </li>
  </ul>
</div> 
  
  
