.login-card{
    padding: 10%;
    margin: 8%;
    padding-right: 25%;
}

.table{
    font-family: monospace;
    margin-left: -23px;
    text-align-last: center;
    margin-top: 4%;
}
.col-8{
    padding-left: 20px;
    padding-right: 20px;
}
.input{
    width: 120%;
}
tr:hover{
    cursor: pointer;
    color: rgb(156, 154, 154);
}
mat-icon:hover{
    color:tomato;
}