mat-card {
    display: contents;
}
.w-80 {
    width: 80% !important;
}
.table{
    font-family: monospace;
}
.tableone{
    padding-left: 20px;
    padding-right: 20px;
}
tr:hover{
    cursor: pointer;
    color: rgb(156, 154, 154);
}
mat-icon:hover{
    color:tomato;
}